@import '../../sass/default/variable';

.st-about-img {
  min-height: 550px;
}

.st-about-img-wrap {
  padding-right: 30px;
}

.st-text-block.st-style1 {
  .st-text-block-title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 18px;
  }

  .st-text-block-subtitle {
    font-size: 24px;
    font-weight: 300;
    color: $base-color1;
    margin-bottom: 18px;
  }

  .st-text-block-text {
    p {
      margin-bottom: 18px;
    }
  }

  .st-text-block-btn {
    margin-top: 43px;
  }
}

/*.st-text-block-details li {
  margin-bottom: 14px;

  :last-child {
    margin-bottom: 0;
  }

  span:first-child {
    display: inline-block;
    width: 108px;
    margin-right: -5px;
  }

  span:last-child {
    margin-left: 7px;
  }
}  */

.st-text-block-details li {
  display: grid;
  grid-template-columns: 140px 10px 1fr;
  align-items: center;
  margin-bottom: 16px;
  font-size: 14.5px;
  color: #cfd3dc;
}

/* Label (Birthday, Email, etc) */
.st-text-block-details li span:first-child {
  font-weight: 500;
  color: #ffffff;
}

/* The ":" separator */
.st-text-block-details li::after {
  content: '';
}

/* Value */
.st-text-block-details li span:last-child {
  color: #aeb4c2;
}

.st-text-block-details li {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.st-text-block-details li:nth-last-child(-n + 2) {
  border-bottom: none; // remove border from last row in each column
}


/* Two-column layout for About details */
.st-text-block-details.st-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  position: relative;
  padding-top: 10px;
}


/* Vertical line in the middle */
.st-text-block-details.st-two-column::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background: rgba(255, 255, 255, 0.12); // subtle line
}


/* Make items align nicely inside each column */
.st-text-block-details.st-two-column li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Mobile: fallback to single column 
@media screen and (max-width: 768px) {
  .st-text-block-details.st-two-column {
    grid-template-columns: 1fr;
  }
}




@media screen and (max-width: 991px) {
  .st-about-img-wrap {
    padding-right: 0px;
  }
}
*/

@media screen and (max-width: 768px) {
  .st-text-block-details.st-two-column {
    grid-template-columns: 1fr;
  }

  .st-text-block-details.st-two-column::before {
    display: none;
  }
}
